################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApi
/WebApi/bin/Debug/netcoreapp3.1
/WebApi/obj
/Api.Entitys/obj
/Api.Services/obj
/Api.Services/bin/Debug/netcoreapp3.1
/Api.Entitys/bin/Debug/netcoreapp3.1
/Api.Tests/bin/Debug/netcoreapp3.1
/Api.Tests/obj/Debug/netcoreapp3.1
/Api.Tests/obj
